body{
    background-color:aquamarine
}
#tablaUsuarios{
    margin-left: auto; 
    margin-right: auto; 
    width: fit-content;
}
#tablaUsuarios {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.979);
}
#tablaUsuarios thead tr {
    background-color: #3e3e3e;
    color: #a013e6dc;
    text-align: left;
}

#tablaUsuarios th, #tablaUsuarios td {
    border: 1px solid #000000cb;
    padding: 12px 15px;
}

#tablaUsuarios tbody tr {
    border-bottom: 1px solid #000000f3;
}

#tablaUsuarios tbody tr:nth-of-type(even) {
    background-color: #323232;
}

#tablaUsuarios tbody tr:last-of-type {
    border-bottom: 2px solid #393939;
}
#tablaUsuarios tbody tr:hover {
    background-color: #9293919c;
}
#tablaa{
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

canvas{
    max-width: 100%;
}